.banner-top,
.feature1,
.feature2,
.feature3,
.feature4 {
    background-color: #ecfdff;
}

.buy-now-button {
    width: 100px;
    height: 50px;
    background: linear-gradient(45deg, green, blue);
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    border-radius: 9px;
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

.card {
    border-radius: 10px;
    box-shadow: 10px 10px 20px gray;
    overflow: hidden;
}

.best-seller-button {
    width: 10vw;
    height: 8vh;
    background-color: blue;
    color: white;
    transition: ease-out 0.4s;
    box-shadow: inset 0 0 0 0 #D80286;
}

.best-seller-button:hover {
    box-shadow: inset 200px 0 0 0 #D80286;
    color: black;
}

.best-seller-img:hover {
    transform: scale(1.4);
    transition: transform 2s;
}

#demo {
    text-align: center;
    font-size: 60px;
}

.booking {
    width: 35vw;
    height: 10vh;
    border: none;
    outline: none;
}

.booking:focus {
    font-size: 1.5rem;
    box-shadow: 10px 10px 20px gray;
}

.booking-btn {
    width: 10vw;
    height: 10vh;
    border: none;
    background: linear-gradient(45deg, rgb(144, 238, 144), rgb(255, 224, 245));
    font-size: 1.5rem;
    border-radius: 5%;
    outline: none;
}

#last-img {
    width: 100vw;
}

.subscribe-area {
    position: relative;
}

#input-area {
    position: absolute;
}


/* #input-area .booking {
    width: 30vw;
    height: 10vh;
}

/* #input-area .booking-btn {
    height: 10vh;
    outline: none;
    font-size: 1.2em;
} */