.banner-top,
.feature1,
.feature2,
.feature3,
.feature4 {
    background-color: #ecfdff;
}

.buy-now-button {
    width: 100px;
    height: 50px;
    background: linear-gradient(45deg, green, blue);
}


/* .spec {
    border: 1px solid red;
} */

.btn {
    display: block;
}

.badge {
    padding-left: 9px;
    padding-right: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

.label-warning[href],
.badge-warning[href] {
    background-color: #c67605;
}

#cartCount {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px;
}

#cartBtn {
    cursor: pointer;
}